#logo{
    height: 70px;
    width: 70px;
}

.cartao{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.card-img-top{
    height: 300px;
    width: 200px;
}

.card-estrutura{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}